<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/indexs.css">
  <title>My Home Page</title>
</head>
<body>
<section>
  <h1>Welcome to Pentent Quizzes</h1>
  <br>
  <div>
    <a href="/quiz" id="takeQuizButton">
      <button>Take Quiz</button>
    </a>
    <br>
  </div>
  <div>
    <form action="/logout">
      <button id="logout">Logout</button>
    </form>
  </div>
</section>
</body>
</html>
